In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [14]:
grtn = pd.read_excel('./2019/Actual_generation_2019.xlsx')

grtn = grtn.dropna()
grtn.head()

,Data category: Actual generation,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
5,Date,Time of day,Biomass[MWh],Hydropower[MWh],Wind offshore[MWh],Wind onshore[MWh],Photovoltaics[MWh],Other renewable[MWh],Nuclear[MWh],Fossil brown coal[MWh],Fossil hard coal[MWh],Fossil gas[MWh],Hydro pumped storage[MWh],Other conventional[MWh]
6,"Jan 1, 2019",12:00 AM,1231.5,401,794.75,4751,0,27.5,2250.5,1733,836,851,29.5,341
7,"Jan 1, 2019",12:15 AM,1234.25,394.75,794,4937.25,0,27.5,2263.25,1588,730,822,80,339
8,"Jan 1, 2019",12:30 AM,1231.5,381.25,792.25,5118.5,0,27.5,2246,1555,649,805,29,341
9,"Jan 1, 2019",12:45 AM,1233.5,381,755.5,5188.75,0,27.5,2241.75,1459,598,797,29.25,341

In [22]:
grtn_new.head()

5,Biomass[MWh],Hydropower[MWh],Wind offshore[MWh],Wind onshore[MWh],Photovoltaics[MWh],Other renewable[MWh],Nuclear[MWh],Fossil brown coal[MWh],Fossil hard coal[MWh],Fossil gas[MWh],Hydro pumped storage[MWh],Other conventional[MWh],DateTime
DateTime,,,,,,,,,,,,,
2019-01-01 00:00:00,1231.5,401,794.75,4751,0,27.5,2250.5,1733,836,851,29.5,341,2019-01-01 00:00:00
2019-01-01 00:15:00,1234.25,394.75,794,4937.25,0,27.5,2263.25,1588,730,822,80,339,2019-01-01 00:15:00
2019-01-01 00:30:00,1231.5,381.25,792.25,5118.5,0,27.5,2246,1555,649,805,29,341,2019-01-01 00:30:00
2019-01-01 00:45:00,1233.5,381,755.5,5188.75,0,27.5,2241.75,1459,598,797,29.25,341,2019-01-01 00:45:00
2019-01-01 01:00:00,1229,388.25,715.5,5297.5,0,27.5,2224.5,1368,611,766,29,339,2019-01-01 01:00:00

In [23]:
grtn.head()
#Update Column Headings with right information on row 2 and delete this row in the dataframe
#grtn.columns = grtn.iloc[0]
#grtn = grtn.drop(grtn_new.index[0])


'''
grtn_new['DateTime'] = grtn_new['Date'] + ' ' + grtn_new['Time of day']

grtn_new['DateTime'] = pd.to_datetime(grtn_new['DateTime'])

grtn_new = grtn_new.set_index(grtn_new['DateTime'])

grtn_new = grtn_new.drop(['Date','Time of day'], axis=1)

grtn_new.head()
'''

"\ngrtn_new['DateTime'] = grtn_new['Date'] + ' ' + grtn_new['Time of day']\n\ngrtn_new['DateTime'] = pd.to_datetime(grtn_new['DateTime'])\n\ngrtn_new = grtn_new.set_index(grtn_new['DateTime'])\n\ngrtn_new = grtn_new.drop(['Date','Time of day'], axis=1)\n\ngrtn_new.head()\n"